/**
 * @file
 * Styles for Quick Links when used with the Olivero theme.
 */
#drupal-off-canvas-wrapper .view-quick-links .contextual button,
#drupal-off-canvas-wrapper .js-media-library-widget input[type="submit"].js-hide {
  display: none;
}

#drupal-off-canvas-wrapper .form-actions input.button--primary {
  margin-top: 0;
}

#drupal-off-canvas-wrapper .field--type-link .form-autocomplete + .description {
  display: none;
}

#drupal-off-canvas-wrapper .field--type-link .form-autocomplete:focus + .description {
  display: block;
}
